a {
    color: black;
    text-decoration: none;
}


img {
    width: 300px;
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    
  }
  
*{
  font-family: UBUNTU;
}