nav #menunavegacao {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    position: fixed;
    z-index: 3;
    width: 100%;
}

#menunavegacao ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}

#menunavegacao li {
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    font-family: 'Aboreto', cursive;
}

#menunavegacao a {
    text-decoration: none;
    color: black;
}

#menunavegacao li:hover {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}
    